.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 Background{
 background-image: url("https://www.bigstockphoto.com/image-242966671/stock-photo-template-for-contacts%2C-background-for-contact-information-lettering-contact-us-in-notebook-on-offic");
 height: 100vh;
 background-repeat:no-repeat; 
 }
 /* .navbar{
  display: inline;
  text-align:right;
  font-size: 150%;
  margin-right: 15%;
  margin-bottom: 20px;
  color: #00B7FF;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
} */

}
